<div class="announcement">
    <h2><%= announcement.title %></h2>
    <%  
        send_method = ''
        if announcement.sms && announcement.email
            send_method = ', sent via SMS and email'
        elsif announcement.email
            send_method = ', sent via email'
        elsif announcement.sms 
            send_method = ', sent via SMS'
        end
    %>
    <p class="announcement-tagline"><%= announcement.created_at.strftime("%B %-d at %-I%p") %><%= send_method %></p>
    <p class="announcement-content"><%= announcement.content %>
</div>
