<div class="main">
<div class="container">
  <h1>Test</h1>
  <p>Show up</p>
  
  <div class="announcements">
  <div class="container">
  
  <% @announcements.each do |announcement| %> 
    <div class="announcement"> 
      <p class="content"><%= announcement.content %></p> 
      <p class="time"><%= announcement.created_at %></p> 
    </div> 
<% end %>
<%= link_to 'New Announcement', "announcement/new" %>
</div>
</div>