<div class="main">
<div class="container">
  <h1>Announcements List</h1>
  
  <div class="announcements">
  <div class="container">
  
  <% @announcements.each do |announcement| %> 
    <div class="announcement"> 
      <p class="content"><%= announcement.content %></p> 
      <p class="time"><%= announcement.created_at %></p> 
      <p class="type">type: <%= announcement.sendType %></p>
      <p>_____</p>
    </div> 
<% end %>
<%= link_to 'New Announcement', "announcement/new" %>
</div>
</div>