<h1>Team Availability</h1>
<p>Select a specific group or individual to view their availability,</p>
<div class="info-block-wrapper" style="margin-top:1em;">
    <div class="info-block">
        <%= render 'events_calendar' %>
    </div>
</div>