<h1>My Schedule</h1>
<div class="info-block-wrapper" style="margin-top:1em;">
    <div class="info-block">
        <%= render 'events_calendar' %>
    </div>
</div>
<%= render 'events_table' %>
<div class="modal hidden" id="new-event">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-event')">&times;</div>
        <%= render 'new_event' %>
    </div>
</div>
