<h1>Schedule</h1>
<%= render 'events_calendar' %>
<%= render 'events_table' %>
<div class="modal hidden" id="new-event">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-event')">&times;</div>
        <%= render 'new_event' %>
    </div>
</div>

