<h1>My Schedule</h1>
<div class="calendar-container">
    <div class="timeline">
        <div class="timeline-entry"><span>6 AM</span></div>
        <div class="timeline-entry"><span>7 AM</span></div>
        <div class="timeline-entry"><span>8 AM</span></div>
        <div class="timeline-entry"><span>9 AM</span></div>
        <div class="timeline-entry"><span>10 AM</span></div>
        <div class="timeline-entry"><span>11 AM</span></div>
        <div class="timeline-entry"><span>12 AM</span></div>
        <div class="timeline-entry"><span>1 PM</span></div>
        <div class="timeline-entry"><span>2 PM</span></div>
        <div class="timeline-entry"><span>3 PM</span></div>
        <div class="timeline-entry"><span>4 PM</span></div>
        <div class="timeline-entry"><span>5 PM</span></div>
        <div class="timeline-entry"><span>7 PM</span></div>
        <div class="timeline-entry"><span>8 PM</span></div>
        <div class="timeline-entry"><span>9 PM</span></div>
        <div class="timeline-entry"><span>10 PM</span></div>
    </div>
    <div class="events">
        <div class="events-group">
            <div class="events-group-label"><span>Sunday</span></div>
            <div class="single-event" style="height:64px;transform:translateY(64px);background-color:#3498db;">
                <span class="single-event-label">Event Name</span>
            </div>
        </div>
        <div class="events-group">
            <div class="events-group-label"><span>Monday</span></div>
            <div class="single-event" style="height:128px;transform:translateY(16px);background-color:#2ecc71;">
                <span class="single-event-label">Event Name</span>
            </div>
            <div class="single-event" style="height:64px;transform:translateY(64px);background-color:#e74c3c;">
                <span class="single-event-label">Event Name</span>
            </div>
            <div class="single-event" style="height:80px;transform:translateY(80px);background-color:#3498db;">
                <span class="single-event-label">Event Name</span>
            </div>
        </div>
        <div class="events-group">
            <div class="events-group-label"><span>Tuesday</span></div>
            <div class="single-event" style="height:256px;transform:translateY(80px);background-color:#f39c12;">
                <span class="single-event-label">Event Name</span>
            </div>
        </div>
        <div class="events-group">
            <div class="events-group-label"><span>Wednesday</span></div>
            <div class="single-event" style="height:64px;transform:translateY(64px);background-color:#3498db;">
                <span class="single-event-label">Event Name</span>
            </div>
            <div class="single-event" style="height:80px;transform:translateY(80px);background-color:#3498db;">
                <span class="single-event-label">Event Name</span>
            </div>
        </div>
        <div class="events-group">
            <div class="events-group-label"><span>Thursday</span></div>
        </div>
        <div class="events-group">
            <div class="events-group-label"><span>Friday</span></div>
            <div class="single-event" style="height:128px;transform:translateY(16px);background-color:#2ecc71;">
                <span class="single-event-label">Event Name</span>
            </div>
        </div>
        <div class="events-group">
            <div class="events-group-label"><span>Saturday</span></div>
            <div class="single-event" style="height:128px;transform:translateY(256px);background-color:#e74c3c;">
                <span class="single-event-label">Event Name</span>
            </div>
        </div>
    </div>
</div>
<div class="schedule-table-container">
    <table class="schedule-table">
    <thead>
        <tr>
            <th colspan="4">Events</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>My Event</td>
            <td>8:00pm - 9:00pm</td>
            <td>Mon, Wed, Fri</td>
            <td style="text-align:right;">
                <button class="button-default">Edit</button>
                <button class="button-danger">Remove</button>
            </td>
        </tr>
        <tr>
            <td>My Event</td>
            <td>8:00pm - 9:00pm</td>
            <td>Mon</td>
            <td style="text-align:right;">
                <button class="button-default">Edit</button>
                <button class="button-danger">Remove</button>
            </td>
        </tr>
        <tr>
            <td>My Event</td>
            <td>8:00pm - 9:00pm</td>
            <td>Tue, Thu</td>
            <td style="text-align:right;">
                <button class="button-default">Edit</button>
                <button class="button-danger">Remove</button>
            </td>
        </tr>
        </table>
    </tbody>
</div>
<div style="margin-top:1.5em;text-align:right;">
    <button class="button-primary" onclick="toggleModal('new-event')" style="margin-top:1.5em;">New Event</button>
</div>
<div class="modal hidden" id="new-event">
    <div class="modal-content">
        <div class="modal-close" onclick="toggleModal('new-event')">&times;</div>
        <h2>New Event</h2>
        <form>
            Name:
            <input name="eventname" type="text">
        </form>
        <div style="margin-top:1.5em;text-align:right;">
            <button class="button-default" onclick="toggleModal('new-event')">Cancel</button>
            <button class="button-primary">Add Event</button>
        </div>
    </div>
</div>
