/*
==========================================================================
Buttons
==========================================================================
*/

@import "colors";
@import "navigation";
@import "fonts";

// all buttons
.button-default,
.button-primary,
.button-danger {
    display: inline-block;
    font-size: 0.85em;
    padding: 0.75em 1em 0.75em 1em;
    border-radius: 0.35em;
    border: none;
    outline: none;

    &:hover {
      transition: 0.1s linear;
      cursor: pointer
     }
    &:active { transition: 0s linear; }
}

// buttons that require white text
.button-primary,
.button-danger {
    color: white;
}

a.button-primary {
    color: white;
}

.button-default {
    background-color: #f1f1f1;

    &:hover { background-color: #dbdbdb }
    &:active { background-color: #bbbbbb }
}

.button-primary {
    background-color: #2889ED;

    &:hover { background-color: #1C7DE2; }
    &:active { background-color: #1970CA; }
}

.button-danger {
    background-color: #EE5370;

    &:hover { background-color: #EB3D5E; }
    &:active { background-color: #E9264B; }
}

// emphasized links
.link-emphasized {
    font-size: 0.9em;
    display: inline-block;
    margin: 0.75em 0 0 0;
    padding: 0.35em 0.85em 0.35em 0.85em;
    border-radius: 2em;
    background: linear-gradient(120deg, $primary-theme-color, $secondary-theme-color);
    color: white;
    font-weight: $font-weight-bold;
}
