/*
==========================================================================
Colors
==========================================================================
*/

// body
$background-color: #f7f7f7;

// theme
$primary-theme-color: #1E87F0;
$secondary-theme-color: #28A5F5;

// text
$primary-text-color: black;
$faded-text-color: rgba(0,0,0,0.25);

// permissions Links
$permissions-link: #1E87F0;
$permissions-link-focus: rgba(40, 137, 237, 0.45);
$permissions-link-hover: rgba(40, 165, 245, 0.25);

// banner colors
$success-background: #dff0d8;
$success-border: #d0e9c6;
$success-text-color: #3c763d;

$notice-background: #d9edf7;
$notice-border: #bcdff1;
$notice-text-color: #31708f;

$alert-background: #fcf8e3;
$alert-border: #faf2cc;
$alert-text-color: #8a6d3b;

$danger-background: #f2dede;
$danger-border: #ebcccc;
$danger-text-color: #a94442;
