/*
==========================================================================
Forms
==========================================================================
*/

@import "fonts";
@import "colors";

// input background color
$input-background-color-default: rgba(0, 0, 0, 0.025);
$input-background-color-focus: white;

// input border and shadow
$input-border-default: 1px solid rgba(0, 0, 0, 0.085);
$input-border-focus: 1px solid rgba(25, 181, 254, 0.5);
$input-border-radius: 0.35em;
$input-box-shadow-focus: 0 0 4px rgba(25, 181, 254, 0.5);

// input sizing
$input-padding: 0.5em 0.75em 0.5em 0.75em;
$input-margin: 0.35em 0 0 0;

// standard form elements
form {
    font-family: $default-body-font;
    font-size: 1em;
}

label {
    display: block;
    margin: 1em 0 0 0;
    font-weight: $font-weight-bold;
}

input, textarea {
    font-size: 1em;
    box-sizing: border-box;
    outline: none;
}

input:focus {
    transition: all 100ms ease-in;
}

textarea {
    width: 100%;
    height: 6em;
    resize: none;
    margin: $input-margin;
    padding: $input-padding;
    border: $input-border-default;
    border-radius: $input-border-radius;
    background-color: $input-background-color-default;
}

// form elements of specific types
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    margin: $input-margin;
    padding: $input-padding;
    border: $input-border-default;
    border-radius: $input-border-radius;
    background-color: $input-background-color-default;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="time"]:focus,
textarea:focus {
    border: $input-border-focus;
    background-color: $input-background-color-focus;
    box-shadow: $input-box-shadow-focus;
}

input[type="time"] {
    display: inline-block;
    margin: $input-margin;
    padding: $input-padding;
    border: $input-border-default;
    border-radius: $input-border-radius;
    background-color: $input-background-color-default;
}

input[type="file"] {
    display: block;
    margin: $input-margin;
}

// custom elements
.search {
    display: block;
    width: 100%;
    padding: $input-padding;
    border: $input-border-default;
    border-radius: $input-border-radius;
    background-color: $input-background-color-default;
}

.search:focus {
    border: $input-border-focus;
    background-color: $input-background-color-focus;
    box-shadow: $input-box-shadow-focus;
}

.check-box-group {
    display: flex;
    box-sizing: border-box;
    margin: $input-margin;
    padding: 0.5em;
    border: $input-border-default;
    border-radius: $input-border-radius;
    width: 100%;
}

.check-box-group-item {
    margin: 0 0 0 0.5em;

    label {
        display: inline-block;
        margin: 0;
        font-weight: $font-weight-normal;
    }
}

.check-box-single {
    margin: 0.5em 0 0 0;

    label {
        display: inline-block;
        margin: 0;
        font-weight: $font-weight-normal;
    }
}

// temporary, for current team selection box
select {
  margin: 0.5em 0.5em 0.5em 0;
  border: 2px solid rgba(0, 0, 0, 0.08);
  border-radius: 0.5em;
  width: 100%;
  display: block;
  option {
    height: 1em;
    font-family: $default-body-font;
    font-weight: $font-weight-normal;
    font-size: 16px;
    padding: 0.25em;
  }
}
