/*
==========================================================================
Navigation
==========================================================================
*/

@import "colors";

.navbar-container {
    padding: 0 1.25em 0 1.25em;
    height: 3.15em;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(120deg, $primary-theme-color, $secondary-theme-color);
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    flex-grow: 0;
    font-size: 1.15em;

    span {
        font-family: $default-header-font;
        font-weight: $font-weight-bold;
        padding: 0.1em 0.3em 0.1em 0.3em;
        border: 2px solid rgba(255,255,255, 0.8);
        border-radius: 0.25em;
        color: white;
    }
    
}

.navbar-menu {
    flex-grow: 1;
    margin: 0 0 0 1.5em;
    display: flex;
    align-items: center;
}

.navbar-menu-item {
    margin: 0 1.2em 0 0;
    font-family: $default-body-font;
    font-weight: $font-weight-bold;
    font-size: 1em;
    
    a {
        text-decoration: none;
        color: white;

        &:hover { 
            color: rgba(255,255,255,0.8);
            transition: 0.1s linear;
        }

        &:active {
            color: rgba(255,255,255, 0.5);
            transition: 0s linear;
        }
    }
}

.navbar-profile {
    flex-grow: 0;
    color: white;
    font-size: 0.9em;

    a {
        text-decoration: none;
        color: rgba(255,255,255,0.85);

        &:hover { 
            color: rgba(255,255,255,0.5);
            transition: 0.1s linear;
        }
    }
}