/*
==========================================================================
Page elements and structure
==========================================================================
*/

// page container
.main {
    max-width: 64em;
    padding: 0 1.25em 0 1.25em;
    margin: 1.5em auto 3.5em auto;

    h1 { display: inline-block; }
}

// alerts show up at top of page, below navigation bar
.alert, .notice {
    margin: 0;
}

// hidden upon render, i.e. modals
.hidden {
    display: none;
}