/*
==========================================================================
Page elements and structure
==========================================================================
*/

// page container
.main {
    max-width: 64em;
    padding: 0 1.25em 0 1.25em;
    margin: 1.15em auto 1em auto;

    h1 {
        margin: 0.5em 0 0 0;
    }
}

// alerts show up at top of page, below navigation bar
.alert, .notice {
    margin: 0;
}

// hidden upon render, i.e. modals
.hidden {
    display: none;
}