<div class="info-block-wrapper">
    <div class="info-block">
    <h2>Recent Documents</h2>
        <table style="margin-top:1em;">
            <tbody>
                <% @documents.each do |document| %>
                <tr>
                    <td><%= document.name %></td>
                    <td><%= document.created_at.strftime("%b %-d, %Y") %></td>
                    <td><div class="button-primary"><%= link_to "Download Document", document.attachment_url %></div></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
