<table class="table table-bordered table-striped two">
  <thead>
    <tr>
      <th><font size="5">Support Services</font></th>
    </tr>
  </thead>
  <tbody>
    <tr><td><a target="_blank" href="https://wisc.gradesfirst.com/home/">Academic Services </a></td></tr>
    <tr><td><a target="_blank" href="https://college.jumpforward.com/studentAthlete/Default.aspx/">Compliance Forms </a></td></tr>
    <tr><td><a target="_blank" href="https://uwma.medicatconnect.com/home.aspx">Sports Medicine </a></td></tr>
    <tr><td><a target="_blank" href="https://badgernet.athletics.wisc.edu/athleteAdminForms.aspx">Administration Forms </a></td></tr>
    <tr><td><a target="_blank" href="https://ath-wisc-csm.symplicity.com/students/index.php?s=home">BuckyNet/Job Board </a></td></tr>
    <tr><td><a target="_blank" href="https://www.myuwbadgers.com/access.aspx?memid=irUW2repp7E=&service=PN">Performance Nutrition </a></td></tr>
    <tr><td><a target="_blank" href="https://www.volgistics.com/ex2/vicnet.dll/?from=324864">Badgers Give Back </a></td></tr>
    <tr><td><a target="_blank" href="http://www.nmnathletics.com/HomePage.dbml?DB_OEM_ID=21000">Guest Management/Tickets </a></td></tr>
  </tbody>
</table>
