<h1>Documents</h1>
<div class="documents-list">
<% @documents.each do |document| %>
    <div class="single-document">
        <p class="document-title"><%= document.title %></p>
        <a href='#' class="file_path"><%= document.file_path %></a>
    </div>
<% end %>

<%= form_for :person do |f| %>
  <%= f.file_field :Document %>
<% end %>
