<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>Date Uploaded</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.name %></td>
        <td><%= button_to "Download Document", document.attachment_url, class: 'button-primary' %></td>
        <td><%= document.created_at.strftime("%d %b. %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
