@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
/*
==========================================================================
Primary stylesheet
Imports base styles, as well as view-specific styles
==========================================================================
*/

// import base styles
@import "base/fonts";
@import "base/forms";
@import "base/blocks";
@import "base/buttons";
@import "base/pages";
@import "base/tables";
@import "base/modals";
@import "base/navigation";
@import "base/forms";
@import "base/banners";

// view specific styles
@import "announcements";
@import "contacts";
@import "documents";
@import "home";
@import "schedule";
@import "permissions";

// import libraries
@import "libraries/toast";


// css reset
* {
    margin: 0;
    padding: 0;
}

// body
body {
  background-color: $background-color;
}

// essential elements
p, span {
    font-size: 1em;
    font-family: $default-body-font;
    font-weight: $font-weight-normal;
}

p {
    margin: 1em 0 0 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $default-header-font;
}

a {
    text-decoration: none;
    font-family: $default-body-font;
}
