/*
==========================================================================
Permissions
==========================================================================
*/

@import "base/colors";
@import "base/fonts";

.permissions-sorting {
    p {
        display: inline-block;
        margin: 0;
        font-weight: $font-weight-bold;
    }
}

.permissions-edit {
    outline: none;
    font-size: 10px;
    text-decoration: none;
    padding: 2px 1px 0;

    &:link { color: $permissions-link; }
    &:visited { color: $permissions-link; }

    &:focus {
        border-bottom: 1px solid;
        background: $permissions-link-focus;
    }

    &:hover {
        border-bottom: 1px solid;
        background: $permissions-link-hover;
    }
}