<p>Hi <%= @resource.first_name %>!</p>

<p>We received a requeset to change your password. To reset your password, please follow the link below!</p>

<p><%= link_to 'Change Password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request a password change, please ignore this email.</p>
<p>Your password will remain unchanged unless you access the link above and create a new one.</p>
